.container-fluid {
    padding-top: 50px;
    position: relative;
    
}

h1 h5 {
    font-family: "Cambria";
}

h5.card-title {
    font-size: 26px;
}

p {
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center !important;
}

p.card-text {
    font-size: 20px;
    text-align: center !important;
}

.btn {
    text-align: center !important;
    background-color: #406E84 !important;
    display: inline-block;
    color: #E9C4A9 !important;
    margin: 0 auto;
    /* height: 60px;
    width: 180px;
    top: 20px;
    bottom: 0px;
    right: 20px; */
     
} 

.hp_image {
    display: block;
    height: 400px;
    width: 500px !important;
    margin: auto;
    
}

@media (min-width: 1920px) and (max-width: 2560px)  {
    .hp_image {
        display: block;
        height: 300px;
        width: 500px !important;
        margin: 0 auto;
        
    }
}

@media screen and (max-width: 1366px) {
    .hp_image {
        height: 180px !important;
        width: 400px !important;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    .hp_image {
        height: 200px;
        width: 300px !important;
        margin: auto;
    }

    p p.card-text {
        font-size: small;
    }
}

@media screen and (max-width: 768px) {
h5.card-title {
    font-size: 16px;
}
.hp_image {
    height: 150px;
    width: 220px !important;
    margin: auto;
}

p p.card-text {
    font-size: small;
}
}