.container-fluid {
    padding-top: 50px;
    position: relative;
    
}

h1 h5 {
    font-family: "Cambria";
}

p {
    font-family: "Open Sans";
}

.btn {
    text-align: center;
    background-color: #406E84 !important;
    color: #E9C4A9 !important;
    width: 160px;
    top: 20px;
    bottom: 0px;
    right: 20px;
     
} 

.card-img-top {
    height: 200px;
}

@media screen and (max-width: 768px) {
h5.card-title {
    font-size: 16px;
}
p.card-text {
    font-size: small;
}
}