img {
    height: 200px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

h4 {
    text-align: center;
    font-size: 26px !important;
}

#community-text {
    font-size: x-large;
    float: right;
}

@media screen and (max-width: 768px) {
    #community-text {
        font-size: medium;
        padding-left: 120px;
    }
}